<h1>  <%= @test_result.user.name %> のテストデータ詳細画面</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>生徒名:</strong>
  <%= @test_result.user.name %>
</p>

<p>
  <strong>テスト種目:</strong>
  <%= @test_result.what_test.testname %>
</p>

<p>
  <strong>国語:</strong>
  <%= @test_result.jpn %>
</p>

<p>
  <strong>数学:</strong>
  <%= @test_result.math %>
</p>

<p>
  <strong>英語:</strong>
  <%= @test_result.eng %>
</p>

<p>
  <strong>理科:</strong>
  <%= @test_result.sci %>
</p>

<p>
  <strong>社会:</strong>
  <%= @test_result.soc %>
</p>

<%= link_to '編集', edit_test_result_path(@test_result) %> |
<%= link_to '戻る', test_results_path %>
