<p id="notice"><%= notice %></p>

<p>
  <strong>期間:</strong>
  <%= @what_test.period.periodname %>
</p>

<p>
  <strong>テスト名:</strong>
  <%= @what_test.testname %>
</p>

<%= link_to '編集', edit_what_test_path(@what_test) %> |
<%= link_to '戻る', what_tests_path %>
